main{
  height: 100vh;
  background-image: url(../src/img/klee-four-leaf-clover-lucky-clover-tic-tac-toe.jpg);
  background-repeat:repeat;
  background-size: 500px;
}
.grid{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 50px;
 
}
.grid--cells{
  min-width: 100px;
  min-height: 100px;
  background-color: whitesmoke;
  border-radius: 5px;
  font-size: 2.5rem;
}
.grid--row{
  display:grid;
  justify-content: center;
  align-content: center;
 
} 
.statusBar{
  background-color:black ;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  padding: 25px;

}
.newgame{
  text-align: center;
  padding: 50px;
 
}
.newgame--button{
  background-color: rgb(72, 144, 1);
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}